// path dir of singularity
dir_singularity = '/isilon/BIO_INFO/Hugo/containers_images/singularityfiles'
// dir_singularity_team_bioinfo = '/isilon/BIO_INFO/TEAM_bioinfo_CBP/DEV/apps_containers/'

params.ref = "/isilon/BIO_INFO/TEAM_bioinfo_CBP/DATA/REFERENCES/HG19/UCSC/ucsc.hg19.fasta"
params.index = "/isilon/BIO_INFO/TEAM_bioinfo_CBP/DATA/REFERENCES/HG19/UCSC/ucsc.hg19.fasta.fai"
params.dict = "/isilon/BIO_INFO/TEAM_bioinfo_CBP/DATA/REFERENCES/HG19/UCSC/ucsc.hg19.dict"

params.resdir = "/mdrun10/analysis/Hugo/results_tests_Nxf_nsmgm2_pipeline/"

params.initfilesdir = "/mdrun10/analysis/Hugo/nextflow_Samtools-merge_gatk4-mutect2/data/"

process {

	// executor='slurm'

	$samtools_merge{
		cpus = 6
		memory = 20.GB
		container = "$dir_singularity/Samtools/1.9/samtools-1.9.simg"
		// queue = 'nodes'
	}


	$samtools_index{
		cpus = 6
		memory = 20.GB
		container = "$dir_singularity/Samtools/1.9/samtools-1.9.simg"
		// queue = 'nodes'
	}

	$gatk_change_sample_names{
		cpus = 6
		memory = 20.GB
		container = "$dir_singularity/gatk4/gatk-4.0.10.0.simg"
		// queue = 'nodes'
	}

	$gatk_mutect2{
		cpus = 6
		memory = 20.GB
		container = "$dir_singularity/gatk4/gatk-4.0.10.0.simg"
		// queue = 'nodes'
	}
}
