// path dir of singularity
dir_singularity = '/home/rademe/git/'

params.ref = "/mnt/isilon_cifs/BIO_INFO/TEAM_bioinfo_CBP/DATA/REFERENCES/HG19/UCSC/ucsc.hg19.fasta"
params.index = "/mnt/isilon_cifs/BIO_INFO/TEAM_bioinfo_CBP/DATA/REFERENCES/HG19/UCSC/ucsc.hg19.fasta.fai"
params.dict = "/mnt/isilon_cifs/BIO_INFO/TEAM_bioinfo_CBP/DATA/REFERENCES/HG19/UCSC/ucsc.hg19.dict"

params.resdir = "/home/rademe/git/nextflow_Samtools-merge_gatk4-mutect2/resdir"

params.initfilesdir = "/mnt/isilon_cifs/BIO_INFO/Hugo/Nxf_Samtools_VarScan/VCF_VARSCAN"

process {

	withLabel: samtools {
		cpus = 1
		memory = 3.GB
		container = "$dir_singularity/Samtools/1.9/samtools-1.9.simg"
	}


	withLabel: gatk {
		cpus = 1
		memory = 3.GB
		container = "$dir_singularity/gatk/4.0.10.0/gatk-4.0.10.0.simg"
	}

}
